.svgicon{
  fill: rgb(0, 0, 0); /* Default color */
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1rem;
  padding: 0rem .1rem
}
.svgicon:hover{
  transform: scale(1.1);
  transition: .3s;
}

.linkedin:hover {
  fill: #0077B5; /* New color on hover */
}
.email:hover {
  fill: #de1212; /* New color on hover */
}
.cv:hover {
  fill: #bd9b58; /* New color on hover */
}

#footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  width : 100%;
  bottom: 0rem;
  right: .1rem;
  padding: 0rem;
  background: rgb(255, 255, 255);
  /* align-items: center; */
  justify-content: center;
}